
*.o
*.o.d
*.mod.c
*.ko
*.itb
*.its
*.builtin
*.order
*.dtb
*.cmd
*.img
*.su
*.tmp
*.swp
*.old
built-in.a

output/
rockdev/

kernel-6.1/.config

kernel-6.1/extboot/lib/modules/6.1.99-*
kernel-6.1/extboot/Image-6.1.99-*
kernel-6.1/extboot/System.map-6.1.99-*
kernel-6.1/extboot/config-6.1.99-*
kernel-6.1/extboot/initrd-6.1.99-*

kernel-6.1/include/config/
kernel-6.1/include/generated/
kernel-6.1/*.img
!kernel-6.1/ramdisk.img



kernel-6.1/.checked-atomic-arch-fallback.h
kernel-6.1/.checked-atomic-instrumented.h
kernel-6.1/.checked-atomic-long.h

kernel-6.1/.missing-syscalls.d
kernel-6.1/.tmp_vmlinux.kallsyms1
kernel-6.1/.tmp_vmlinux.kallsyms1.S
kernel-6.1/.tmp_vmlinux.kallsyms1.syms
kernel-6.1/.tmp_vmlinux.kallsyms2
kernel-6.1/.tmp_vmlinux.kallsyms2.S
kernel-6.1/.tmp_vmlinux.kallsyms2.syms
kernel-6.1/.version
kernel-6.1/.vmlinux.export.c
kernel-6.1/Module.symvers
kernel-6.1/System.map
kernel-6.1/arch/arm64/kernel/asm-offsets.s
kernel-6.1/arch/arm64/lib/lib.a
kernel-6.1/certs/signing_key.x509
kernel-6.1/crypto/asymmetric_keys/pkcs7.asn1.c
kernel-6.1/crypto/asymmetric_keys/pkcs7.asn1.h
kernel-6.1/crypto/asymmetric_keys/x509.asn1.c
kernel-6.1/crypto/asymmetric_keys/x509.asn1.h
kernel-6.1/crypto/asymmetric_keys/x509_akid.asn1.c
kernel-6.1/crypto/asymmetric_keys/x509_akid.asn1.h
kernel-6.1/crypto/rsaprivkey.asn1.c
kernel-6.1/crypto/rsaprivkey.asn1.h
kernel-6.1/crypto/rsapubkey.asn1.c
kernel-6.1/crypto/rsapubkey.asn1.h
kernel-6.1/drivers/bluetooth/rtk_btusb.mod
kernel-6.1/drivers/crypto/rockchip/rk_ecdsasignature.asn1.c
kernel-6.1/drivers/crypto/rockchip/rk_ecdsasignature.asn1.h
kernel-6.1/drivers/crypto/rockchip/rk_sm2signature.asn1.c
kernel-6.1/drivers/crypto/rockchip/rk_sm2signature.asn1.h
kernel-6.1/drivers/firmware/efi/libstub/lib.a
kernel-6.1/kernel/bounds.s
kernel-6.1/kernel/config_data.gz
kernel-6.1/lib/lib.a
kernel-6.1/modules.builtin.modinfo
kernel-6.1/scripts/dtc/dtc-lexer.lex.c
kernel-6.1/scripts/dtc/dtc-parser.tab.c
kernel-6.1/scripts/dtc/dtc-parser.tab.h
kernel-6.1/scripts/kconfig/lexer.lex.c
kernel-6.1/scripts/kconfig/parser.tab.c
kernel-6.1/scripts/kconfig/parser.tab.h
kernel-6.1/scripts/mod/devicetable-offsets.s
kernel-6.1/usr/.initramfs_data.cpio.d
kernel-6.1/vmlinux
kernel-6.1/vmlinux.a
kernel-6.1/vmlinux.symvers


kernel-6.1/arch/arm64/boot/Image.lz4
kernel-6.1/arch/arm64/kernel/vdso/vdso.so
kernel-6.1/arch/arm64/kernel/vdso/vdso.so.dbg
kernel-6.1/extboot/extlinux/extlinux.conf